<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                学生系统
            </a>
        </li>
        <li>
            <a href="/"><i class="fa fa-fw fa-list-alt"></i> 学生信息查询</a>
        </li>
        <li>
            <a href="/report/reportList"><i class="fa fa-fw fa-list-alt"></i> 学生成绩统计</a>
        </li>
        <li>
            <a href="/event/enterform"><i class="fa fa-fw fa-list-alt"></i> 活动报名</a>
        </li>
        <li>
            <a href="/login/qrpage"><i class="fa fa-fw fa-list-alt"></i> 二维码</a>
        </li>
    </ul>
</nav>