<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/head"></div>
<body>

<div id="wrapper" class="toggled">
    <div th:replace="common/sidebar"></div>
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">关键字搜索</div>
                        <div class="panel-body">
                            <form id="searchForm" class="form-inline">
                                <div class="form-group">
                                    <label>排名前</label>
                                    <input type="text" class="form-control" name="searchLimitFront">
                                </div>
                                <div class="form-group">
                                    <label>排名后</label>
                                    <input type="text" class="form-control" name="searchLimitBehind">
                                </div>
                                <div class="form-group">
                                    <label>年级</label>
                                    <input type="text" class="form-control" name="searchGrade">
                                </div>
                                <div class="form-group">
                                    <label>班级</label>
                                    <input type="text" class="form-control" name="searchClasses">
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input id="checktest" type="checkbox" name="searchCheckbox" value="temp"> 显示成绩提高的学生
                                        </label>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" onclick="search()">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <table id="StudentTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 引入jquery bootstrap等 -->
<div th:replace="common/js"></div>
<script type="text/javascript" src="../static/sk.js"></script>
<script>

    $(function () {
        var oTable = new TableInit();
        oTable.Init();



        console.log("test123");
        var url = 'http://localhost:8877/server';
        var sock = new SockJS(url);
        stompClient = Stomp.over(sock);
        var headers = {
            username: 'admin',
            password: 'admin'
        };
        stompClient.connect(headers, function (frame) {

            var adminJSON = JSON.stringify({'message': 'ADMIN'});
            stompClient.send("/app/singleShout", {}, adminJSON);

            stompClient.subscribe("/user/queue/shouts", function (message) {
                console.log("admin用户特定的消息1：" + JSON.stringify(message));
                var content = message.body;
                // var obj = JSON.parse(content);
                console.log("admin用户特定的消息1：" + content);
            }, {})

            // stompClient.subscribe("/topic/shouts", function (message) {
            //     var content = message.body;
            //     var obj = JSON.parse(content);
            //     console.log("订阅的服务端消息：" + obj.message);
            // }, {});
        })

    });

    var TableInit = function () {
        var oTableInit = new Object();
        oTableInit.Init = function () {
            var basecolumn = [
                {
                    field: 'number',
                    title: '学号',
                    align: 'center'
                },
                {
                    field: 'name',
                    title: '姓名',
                },
                {
                    field: 'sex',
                    title: '性别',
                },
                {
                    field: 'grade',
                    title: '年级',
                },
                {
                    field: 'classes',
                    title: '班级',
                },
                {
                    field: 'gradeMid',
                    title: '期中总分',
                },
                {
                    field: 'gradeFinal',
                    title: '期末总分',
                }

            ];


            $('#StudentTable').bootstrapTable({
                url: '/report/reportList01',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                //queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                contentType: "application/x-www-form-urlencoded",
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                height: 620,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "number",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子

                queryParams: function (params) {
                    if($('#checktest').prop('checked')){
                        return {
                            limit: params.limit,
                            offset: params.offset,
                            classes: $("input[name='searchClasses']").val(),
                            grade: $("input[name='searchGrade']").val(),
                            limitFront: $("input[name='searchLimitFront']").val(),
                            limitBehind: $("input[name='searchLimitBehind']").val(),
                            improvement: $("input[name='searchCheckbox']").val()
                        }
                    }else{
                        return {
                            limit: params.limit,
                            offset: params.offset,
                            classes: $("input[name='searchClasses']").val(),
                            grade: $("input[name='searchGrade']").val(),
                            limitFront: $("input[name='searchLimitFront']").val(),
                            limitBehind: $("input[name='searchLimitBehind']").val()
                        }
                    }

                },

                responseHandler: function (data) {
                    console.log(data);
                    return {
                        "total": data.total,
                        "rows": data.data
                    };
                },
                columns: basecolumn,
            });
        };
        return oTableInit;


    }

    function search() {
        if($("input[name='searchLimitFront']").val()&&$("input[name='searchLimitBehind']").val()){
            alert("排名二选一");
        }else{
            $("#StudentTable").bootstrapTable('destroy');
            var oTable = new TableInit();
            oTable.Init();
        }


    }


</script>
</body>
</html>