<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/head"></div>
<body>

<div id="wrapper" class="toggled">
    <div th:replace="common/sidebar"></div>
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">关键字搜索</div>
                        <div class="panel-body">
                            <form id="searchForm" class="form-inline">
                                <div class="form-group">
                                    <label>学号</label>
                                    <input type="text" class="form-control" name="searchNumber">
                                </div>
                                <div class="form-group">
                                    <label>姓名</label>
                                    <input type="text" class="form-control" name="searchName">
                                </div>
                                <div class="form-group">
                                    <label>年级</label>
                                    <input type="text" class="form-control" name="searchGrade">
                                </div>
                                <div class="form-group">
                                    <label>班级</label>
                                    <input type="text" class="form-control" name="searchClasses">
                                </div>
                                <div class="form-group">
                                    <label>学科</label>
                                    <select class="form-control selectpicker" multiple id="projectSelect">
                                            <option value="chineseMid">期中语文</option>
                                            <option value="mathMid">期中数学</option>
                                            <option value="englishMid">期中英语</option>
                                            <option value="physicsMid">期中物理</option>
                                            <option value="chemistryMid">期中化学</option>
                                            <option value="geographyMid">期中地理</option>
                                            <option value="politicsMid">期中政治</option>
                                            <option value="historyMid">期中历史</option>
                                            <option value="biographyMid">期中生物</option>
                                            <option value="chineseFinal">期末语文</option>
                                            <option value="mathFinal">期末数学</option>
                                            <option value="englishFinal">期末英语</option>
                                            <option value="physicsFinal">期末物理</option>
                                            <option value="chemistryFinal">期末化学</option>
                                            <option value="geographyFinal">期末地理</option>
                                            <option value="politicsF_final">期末政治</option>
                                            <option value="historyFinal">期末历史</option>
                                            <option value="biographyFinal">期末生物</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>成绩区间</label>
                                    <input type="text" class="form-control" name="searchminGrade">
                                    <em>-</em>
                                    <input type="text" class="form-control" name="searchmaxGrade">
                                </div>
                                <button type="button" class="btn btn-primary" onclick="search()">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <table id="StudentTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 引入jquery bootstrap等 -->
<div th:replace="common/js"></div>

<script>

    $(function () {
        var oTable = new TableInit();
        oTable.Init();

    });

    var TableInit = function () {
        var oTableInit = new Object();
        oTableInit.Init = function () {
            var basecolumn = [
                {
                    field: 'number',
                    title: '学号',
                    align: 'center'
                },
                {
                    field: 'name',
                    title: '姓名',
                },
                {
                    field: 'sex',
                    title: '性别',
                },
                {
                    field: 'grade',
                    title: '年级',
                },
                {
                    field: 'classes',
                    title: '班级',
                }
            ];
            var colum_choose = {
                "chineseMid" : "期中语文",
                "mathMid" : "期中数学",
                "englishMid" : "期中英语",
                "physicsMid" : "期中物理",
                "chemistryMid" : "期中化学",
                "geographyMid" : "期中地理",
                "politicsMid" : "期中政治",
                "historyMid" : "期中历史",
                "biographyMid" : "期中生物",
                "chineseFinal" : "期末语文",
                "mathFinal" : "期末数学",
                "englishFinal" : "期末英语",
                "physicsFinal" : "期末物理",
                "chemistryFinal" : "期末化学",
                "geographyFinal" : "期末地理",
                "politicsF_final" : "期末政治",
                "historyFinal" : "期末历史",
                "biographyFinal" : "期末生物"
            };
            var project = $('#projectSelect').selectpicker('val').toString();
            if(project){
                var projectArray = project.split(",");
                for(var i = 0; i<projectArray.length; i++){
                    var property = projectArray[i];
                    basecolumn.push({
                        "field":property,
                        "title":colum_choose[property]
                    });
                }
            }


            $('#StudentTable').bootstrapTable({
                url: '/student/studentList',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                //queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                contentType: "application/x-www-form-urlencoded",
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                height: 620,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "number",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子

                queryParams: function (params) {
                    return {
                        limit: params.limit,
                        offset: params.offset,
                        number: $("input[name='searchNumber']").val(),
                        name: $("input[name='searchName']").val(),
                        classes: $("input[name='searchClasses']").val(),
                        grade: $("input[name='searchGrade']").val(),
                        projects: $('#projectSelect').selectpicker('val').toString(),
                        minGrade: $("input[name='searchminGrade']").val(),
                        maxGrade: $("input[name='searchmaxGrade']").val()
                    }
                },

                responseHandler: function (data) {
                    if(data.data[0]["gradeMid"]){
                        for(var i = 0; i < data.data.length; i++){
                            var gradeMid = data.data[i]["gradeMid"];
                            for(var key in gradeMid){
                                var k = key;
                                var value = gradeMid[key];
                                data.data[i][k]=value;
                            }
                        }
                    };
                    if(data.data[0]["gradeFinal"]){
                        for(var i = 0; i < data.data.length; i++){
                            var gradeFinal = data.data[i]["gradeFinal"];
                            for(var key in gradeFinal){
                                var k = key;
                                var value = gradeFinal[key];
                                data.data[i][k]=value;
                            }
                        }
                    };
                    for(var i = 0; i<data.data.length; i++){
                        delete data.data[i]["gradeMid"];
                        delete data.data[i]["gradeFinal"];
                    };
                    console.log(data);
                    return {
                        "total": data.total,
                        "rows": data.data

                    };
                },
                columns: basecolumn,
            });
        };
        return oTableInit;


    }

    function search() {
        var searchNumber = $("input[name='searchNumber']").val();
        var searchName = $("input[name='searchName']").val();
        var searchGrade = $("input[name='searchGrade']").val();
        var searchClasses = $("input[name='searchClasses']").val();
        var searchProject = $('#projectSelect').selectpicker('val');
        alert(searchProject);
        $("#StudentTable").bootstrapTable('destroy');
        var oTable = new TableInit();
        oTable.Init();

    }


</script>
</body>
</html>