<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/head"></div>
<body>

<div id="wrapper" class="toggled">
    <div th:replace="common/sidebar"></div>
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">关键字搜索</div>
                        <div class="panel-body">
                            <form id="searchForm" class="form-inline">
                                <div class="form-group">
                                    <label>学号</label>
                                    <input type="text" class="form-control" name="searchNumber">
                                </div>
                                <div class="form-group">
                                    <label>姓名</label>
                                    <input type="text" class="form-control" name="searchName">
                                </div>
                                <div class="form-group">
                                    <label>年级</label>
                                    <input type="text" class="form-control" name="searchGrade">
                                </div>
                                <div class="form-group">
                                    <label>班级</label>
                                    <input type="text" class="form-control" name="searchClasses">
                                </div>
                                <div class="form-group">
                                    <select class="form-control selectpicker" multiple id="projectSelect">
                                            <option value="chinese_mid">期中语文</option>
                                            <option value="math_mid">期中数学</option>
                                            <option value="english_mid">期中英语</option>
                                            <option value="physic_mid">期中物理</option>
                                            <option value="chemistry_mid">期中化学</option>
                                            <option value="geography_mid">期中地理</option>
                                            <option value="politics_mid">期中政治</option>
                                            <option value="history_mid">期中历史</option>
                                            <option value="biography_mid">期中生物</option>
                                            <option value="chinese_final">期末语文</option>
                                            <option value="math_final">期末数学</option>
                                            <option value="english_final">期末英语</option>
                                            <option value="4">期末物理</option>
                                            <option value="5">期末化学</option>
                                            <option value="6">期末地理</option>
                                            <option value="7">期末政治</option>
                                            <option value="8">期末历史</option>
                                            <option value="9">期末生物</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-primary" onclick="search()">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <table id="StudentTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 引入jquery bootstrap等 -->
<div th:replace="common/js"></div>

<script>

    $(function () {
        var oTable = new TableInit();
        oTable.Init();
    });

    var TableInit = function () {
        var oTableInit = new Object();
        oTableInit.Init = function () {
            var basecolumn = [
                {
                    field: 'number',
                    title: '学号',
                    align: 'center'
                },
                {
                    field: 'name',
                    title: '姓名',
                },
                {
                    field: 'sex',
                    title: '性别',
                },
                {
                    field: 'grade',
                    title: '年级',
                },
                {
                    field: 'classes',
                    title: '班级',
                }
            ];

            var project = $('#projectSelect').selectpicker('val').toString();
            var projectArray = project.split(",");
            if(!projectArray){
                for(var i = 0; i<projectArray.length;i++){
                    var property = projectArray[i];
                    basecolumn.push({
                        "field":property,
                        "title":property
                    });
                }
            }


            //var columns_new = basecolumn.concat(columnsArray);

            $('#StudentTable').bootstrapTable({
                url: '/student/studentList',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                //queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                contentType: "application/x-www-form-urlencoded",
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                height: 620,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "number",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子

                queryParams: function (params) {
                    return {
                        limit: params.limit,
                        offset: params.offset,
                        number: $("input[name='searchNumber']").val(),
                        name: $("input[name='searchName']").val(),
                        classes: $("input[name='searchClasses']").val(),
                        grade: $("input[name='searchGrade']").val(),
                        projects: $('#projectSelect').selectpicker('val').toString()
                    }
                },

                responseHandler: function (data) {
                    return {
                        "total": data.total,
                        "rows": data.data
                    };
                },


                columns: basecolumn,
            });
        };
        return oTableInit;


    }

    function search() {
        var searchNumber = $("input[name='searchNumber']").val();
        var searchName = $("input[name='searchName']").val();
        var searchGrade = $("input[name='searchGrade']").val();
        var searchClasses = $("input[name='searchClasses']").val();
        var searchProject = $('#projectSelect').selectpicker('val');
        alert(searchProject);
        $("#StudentTable").bootstrapTable('destroy');
        var oTable = new TableInit();
        oTable.Init();

    }


</script>
</body>
</html>